/*Styling to signify what page the user is on*/
.nav-link.active{
    color: rgb(245, 178, 216) !important;
    text-decoration-line: underline;
    font-weight: bold;
}
/*Styling for everything under the gallery container, in this case pretty much the whole page*/
.gallery-container {
    width: 95%;
    margin: auto;
    padding-bottom: 40px;
}

/*Styling for the page title*/
.title
{margin: 20px;
color:hotpink;
text-align: center;
display: flex;
align-items: center;
margin: 20px 0;}

.title::before,
.title::after {
    content: "";
    flex: 1;
    border-bottom: 4px solid hotpink;
}

.title::before {
    margin-right: 10px;
}

.title::after {
    margin-left: 10px;
    } 

.title span {
    font-size: 1.5rem;
    font-weight: bold;
    color: hotpink;
}


.text
{display: flex;
margin: 20px;
border: 2px solid hotpink;
border-radius: 5px;}

.photo-gallery {
    display: flex;
    gap: 20px;
}
 /*Styling for all the column containers, currently each container has 3 pictures (this is subject to change)*/
.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*Styling for the image boxes, currently this effects all images on the page*/
.img-rounded img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    border-style: double;
    border-width: 5px;
    border-color: hotpink
}

.img-rounded img:hover {
    scale: 1.02;
    transition: 0.7s ease;
}
/*Makes the gallery into a single vertical column when the page is loded on a mobile device*/
@media (max-width: 440px) {
    .photo-gallery {
        flex-direction: column;
    }
}