
.header
{margin: 20px;
color:hotpink;}

.text
{display: flex;
margin: 20px;
border: 2px solid hotpink;}

.gallery
{display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 20px;
margin: 20px;
}

.piece
{background-color: hotpink;
border: 2px solid hotpink}

@media (min-width: 768px)
{ .flex-container {flex-direction: row;}}

@media (max-width: 768px)
{.gallery {grid-template-columns: 1fr 1fr;}}

@media (max-width: 440px)
{ .gallery {grid-template-columns: 1fr;}
    .flex-container {flex-direction: column;}}