p {color: blue;}

header {background-color: aqua;}
/*We have the bodypage color set and, currenly we have the body size at 1664px that is common on MACos systems.*/
main {background-color: pink;
height: 1664px;}

footer {background-color: hotpink;
height: 100px;
margin: none;}

<<<<<<< HEAD
.navbar {background-color: hotpink;
color: navy}
=======
.navbar {background-color: lightblue;
color: navy;}
>>>>>>> 7244afa3080c38e826bc22443b3b3e7f2fc74a73

.nav-item:hover {filter: opacity(50%);}

<<<<<<< HEAD
.photo-container
{display: flex;
flex-direction: row;
border-bottom: 2px solid hotpink;}

.img
{width: 320; 
height: 435;}

.introductionbox
{display: flex;
flex-direction: row;    
margin: 30px; 
margin-top: 70px;
margin-bottom: 70px;
justify-content: space-around;
}

.introduction-text
{border: 3px solid hotpink;
height: 300px;
width: 60%;
justify-self: flex-start;      
align-self: flex-start;
text-align: center;
gap: 50px;
color: hotpink;
}

.introduction-img
{justify-self: flex-end;
align-self: center;
clip-path: circle(50%);}

.card-holder
{display: flex;
grid-template-columns: 1fr 1fr 1fr;
gap: 10px;
margin: 50px;
margin-top: 70px;
justify-content: space-around;}

.card:hover
{filter:opacity(50%);
transition: 0.5s ease;}

.card-body
{background-color: hotpink;
color: lightpink;
border: 2px solid hotpink; }

.card-text
{color: lightpink;}

@media (min-width: 440px)
{ .flex-container {flex-direction: row;}

.card-holder{flex-direction:row;}}


@media (max-width: 440px)
{ 

.introductionbox {flex-direction: column;} .introduction-text {width: 100%; margin: 30px;}

.card-holder {flex-direction:column; gap: 50px;}
}

=======
@media (min-width: 440px)
{ .flex-container {flex-direction: row;}}

@media (max-width: 440px)
{ .flex-container {flex-direction: column;}}
>>>>>>> 7244afa3080c38e826bc22443b3b3e7f2fc74a73

