

p {color: hotpink;}

header {background-color: aqua;}
<!--We have the bodypage color set and, currenly we have the body size at 1664px that is common on MACos systems.-->
main {background-color: aliceblue;
height: 1664px;}

footer {background-color: lightblue;
height: 100px;
margin: none;}

.navbar {background-color: lightblue;
color: navy}

.flex-container
{display: flex;
flex-direction: row;
}

.flex-box 
{background-color: aqua;
margin: 5px;
width: 100%;
height: 200px;
}

.photo-container
{display: flex;
flex-direction: row;}

.img
{width: 100%;
height: auto;}

.introductionbox
{display: flex;
flex-direction: row;    
height: 300px;
margin: 30px; 
justify-content: space-around;
}

.introduction-text
{border: 3px solid hotpink;
height: 300px;
width: 60%;
justify-self: flex-start;      
align-self: flex-start;
text-align: center;
gap: 50px;
color: hotpink;
}

.introduction-img
{justify-self: flex-end;
align-self: center;
clip-path: circle(50%);}

@media (min-width: 440px)
{ .flex-container {flex-direction: row;}
}

@media (max-width: 440px)
{ .flex-container {flex-direction: column;}
}


